.Header {
  box-shadow: 0 -2px 9px 1px #9e9e9e;
  min-width: 100%;
  font-size: 1.285714rem;
}

.navWrapper {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-between;
}

.appHeading {
  padding: 10px;
  margin-bottom: 0;
  font-size: 1.285714rem;
}

.navList {
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
  list-style-type: none;
  width: 30vw;
}

.navLinkName {
  padding-right: 10px;
}

.navListItem {
}

.navLink {
  text-decoration: none;
  color: darkcyan;
  transition: all .5s ease;
  &:hover {
    color: darkblue;
  }
}
