.Header {
  box-shadow: 0 -2px 9px 1px #9e9e9e;
  position: fixed;
  min-width: 100%;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  padding: 10px;
  font-size: 1.8em;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 40vw;
  margin-right: 4em;
}

.navListItem {
  font-size: 1.5em;
}

.navLink {
  text-decoration: none;
  color: darkcyan;
  transition: all .5s ease;
  &:hover {
    color: darkblue;
  }
}
